data/20231207/1207_README_en-US.pptx filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_net_disk_io_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_net_disk_space_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_rate_storage_iops.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_received_bandwidth.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_memory_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_rate_received_packets.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_memory_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_rate_transmitted_packets.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/kpi_20231207.csv filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_cpu_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_net_receive.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/node_level_data_net_transmit.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_cpu_usage.npy filter=lfs diff=lfs merge=lfs -text
data/20231207/pod_level_data_transmit_bandwidth.npy filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
